NEXT_PUBLIC_API_BASE_URL="/api/v1"

DATABASE_URL="postgres://{username}:{password}@localhost:5432/3deezarchives"

GOOGLE_MAIL_USER=#ask team member
GOOGLE_APP_PASSWORD=#ask team member

JWT_SECRET="kyudaimehokage"
INVITATION_JWT_SECRET="hachidaimehokage"
CRON_SECRET="nanadaimehokage"

FRONTEND_URL="http://localhost:3000"

ADMIN_EMAIL="email@example.com"
ADMIN_PASSWORD="password"
ADMIN_NAME="User Name"

CLOUDINARY_CLOUD_NAME=#ask team member
CLOUDINARY_API_KEY=#ask team member
CLOUDINARY_API_SECRET=#ask team member
CLOUDINARY_UPLOAD_FOLDER="3deez-archives/dev"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=#ask team member