NEXT_PUBLIC_API_BASE_URL="/api/v1"

DATABASE_URL="postres://{username}:{password}@localhost:5432/3deezarchives"

GOOGLE_MAIL_USER=#ask team member
GOOGLE_APP_PASSWORD=#ask team member

JWT_SECRET="kyudaimehokage"
INVITATION_JWT_SECRET="kyudaimehokage"

APP_URL="http://localhost:3000"

CLOUDINARY_CLOUD_NAME=#ask team member
CLOUDINARY_API_KEY=#ask team member
CLOUDINARY_API_SECRET=#ask team member

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=#ask team member