 @import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #f0f0f0;
}

@theme inline {
  --font-mono: var(--font-space-mono);
  --font-sans: var(--font-dm-sans);
}

@theme {
  --color-background: #0a0a0a;

  --color-surface: #111111;
  --color-surface-2: #1a1a1a;
  --color-surface-3: #222222;
  
  --color-border: #a5252514;
  --color-border-2: #ffffff26;
  
  --color-accent: #e8ff6b;
  --color-accent-2: #ff6b6b;
  --color-accent-3: #6bffd4;

  --color-text: #f0f0f0;
  --color-text-2: #888;
  --color-text-3: #555;

  --animate-caret-blink: caret-blink 1.2s ease-out infinite;
  
  @keyframes caret-blink {
    0%, 70%, 100% {
      opacity: 1;
    }
    20%, 50% {
      opacity: 0;
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
    --color-border-primary: var(--color-neutral-800);
  }
} */

.Toastify__close-button {
  color: rgb(16, 14, 14);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-space-mono);
  }

  input, textarea {
    @apply outline-none
  }

  button {
    @apply cursor-pointer disabled:cursor-not-allowed duration-200
  }

  .btn {
    @apply bg-black
  }
}