 @import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #f0f0f0;
}

@plugin "tailwind-scrollbar" {
  nocompatible: true;
  /* preferredStrategy: "pseudoelements"; */
}

@theme inline {
  --font-mono: var(--font-space-mono);
  --font-sans: var(--font-dm-sans);
  --font-inter: var(--font-inter);
}

@theme {
  --color-background: #0c0f11;
  --color-foreground-secondary: #9797a3;

  --color-surface: #161a1c;
  --color-surface-2: #323537;
  --color-surface-3: #222222;
  
  --color-border: #292c2f;
  --color-border-2: #ffffff26;
  
  --color-accent-primary: #00F2FE;
  --color-accent-secondary: #7F56D9;
  --color-accent-neutral: #727780;
  --color-accent-danger: #ff6570;
  --color-accent-info: #6bffd4;

  --color-text: #f2f2f2;
  --color-text-2: #888;
  --color-text-3: #94989c;

  --animate-caret-blink: caret-blink 1.2s ease-out infinite;

  --animate-shimmer: shimmer 2s linear infinite;
  
  @keyframes caret-blink {
    0%, 70%, 100% {
      opacity: 1;
    }
    20%, 50% {
      opacity: 0;
    }
  }

  @keyframes shimmer {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
  }
}

.Toastify__close-button {
  color: rgb(16, 14, 14);
}

@layer base {
  body {
    @apply font-inter text-text bg-background
  }

  body * {
    @apply scrollbar-thin scrollbar-thumb-surface-3 scrollbar-track-surface scrollbar-thumb-rounded-full
  }

  input, textarea {
    @apply outline-none
  }

  button {
    @apply cursor-pointer disabled:cursor-not-allowed duration-200
  }

  select {
    @apply focus:outline-none
  }
}

@utility bg-shimmer {
  @apply bg-linear-to-r from-surface via-surface-3 to-surface bg-size-[200%_100%];
}

@utility input-core {
  @apply  flex items-center font-sans gap-2 py-1.75 px-3 w-full text-[12px] rounded-lg duration-200 border;
  @apply border-border-2 bg-surface-3 focus-within:border-accent-primary;
}

@utility button-primary {
  @apply px-4 py-2 rounded-lg duration-200 tracking-[0.06rem] font-bold text-[10px];
  @apply text-black bg-accent-primary hover:bg-accent-primary/85;
}

@utility button-ghost {
  @apply px-4 py-2 rounded-lg duration-200 tracking-[0.06rem] text-[10px] border;
  @apply border-border-2 bg-surface-3 hover:opacity-85;
}

@utility calendar-indicator-none {
  @apply relative
    [&::-webkit-calendar-picker-indicator]:opacity-0
    [&::-webkit-calendar-picker-indicator]:absolute
    [&::-webkit-calendar-picker-indicator]:right-0
    [&::-webkit-calendar-picker-indicator]:w-full
    [&::-webkit-calendar-picker-indicator]:h-full;
}